@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    align-items: center;
    align-items: center;
    background: #096E46;
}

.logo{
    height: 50px;
    margin-left: 50%;
}

.back {
    height: 20px;
    padding-left: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #096e4636;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.block{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 50px 50px;
    margin-top: 10vh;
    padding: 40px 40px;
    border-radius: 15px;

}

h1 {
    color: #096E46;
    font-size: 30px;
    font-weight: 600;
}

a {
    font-size: 15px;
}

label{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input {
    border-radius: 20px;
    padding: 10px 50px;
    border: none;
    background-color: #EBEBEB ;
    margin-top: 10px;
    box-sizing: border-box;
    
}

input:focus{
    border-bottom: 1px solid #096E46;
}

input[type="submit"] {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #096E46;
    background-color:#25D691 ;
    font-weight: bold;
    padding: 10px 40px;
    transition: background-color 0.1s ease-in 0.1s;

}

input[type="submit"]:hover {
    background-color: #27bd83;
    color: #096E46;
    cursor: pointer;
}